.colleagues {
  background-color: $bg;
  padding: 255px 0 95px;
  margin-top: -175px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__img {
    margin-right: 85px;
  }
}

@media (max-width: 1100px) {
  .colleagues {
    &__img {
      margin-right: 40px;
    }
  }
}